<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flight_no %> / Airport Code<br>

    <%= f.select(:flight_no) do %>
    <%= @flights = Flight.all %>
      <% @flights.each do |flight| %>
        <%= content_tag(:option, flight.destination, value: flight.id) %>
      <% end %>
    <% end %>


  </div>
  <div class="field">
    <%= f.label :passenger_no %><br>

    <%= f.select(:passenger_no) do %>
    <%= @passengers = Passenger.all %>
      <% @passengers.each do |passenger| %>
        <%= content_tag(:option, passenger.name, value: passenger.id) %>
      <% end %>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
