<p id="notice"><%= notice %></p>

<p>
  <strong>Flight Destination:</strong>
  <%= Flight.find(@ticket.flight_id)[:destination] %>
</p>

<p>
  <strong>Flight Departure Time:</strong>
  <%= Flight.find(@ticket.flight_id)[:departure_date] %>  
</p>

<p>
  <strong>Passenger Name:</strong>
  <%= Passenger.find(@ticket.passenger_id)[:name] %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
