<p id="notice"><%= notice %></p>

<h1>Passenger: <%= @passenger.name %></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Passport #</th>
      <th>Associated Tickets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @passenger.id %></td>
      <td><%= @passenger.name %></td>
      <td><%= @passenger.passport_no %></td>
      <td>

      <% list_tickets = Ticket.where(passenger_id: @passenger.id) %>

      <% list_tickets.each do |ticket| %>
      <%= link_to "#" + Ticket.find(ticket.id)[:id].to_s, ticket %> to <%= Flight.find(ticket.id)[:destination] %><br>
      <% end %>
      
      <%= link_to 'Add New Ticket', passenger_ticket_url(@passenger.id) %>
      </td>
    </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
