<%= form_for(@luggage) do |f| %>
  <% if @luggage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@luggage.errors.count, "error") %> prohibited this luggage from being saved:</h2>

      <ul>
      <% @luggage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_no %><br>
    <%= f.number_field :ticket_no %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
