<!DOCTYPE html>
<html>
<head>
  <title>Airport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Looney Tunes Air</h1>
</header>

<div id="content"> 
  <%= yield %>
</div>

<footer>
  <%= link_to 'Passengers', @passenger %>
  <%= link_to 'Flights', @flight %>
  <%= link_to 'Tickets', @ticket %>
</footer>

</body>
</html>
